#root {
  /* max-width: 1280px; */
  --lightest-grey: #adb5bd;
  --light-grey: #6c757d;
  --grey: #495057;
  --dark-grey: #343a40;
  --darkest-grey: #212529;
}

.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #95cbeb;
}

/* Navbar Styling */
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
  padding: 0 10px 0 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-logocontain{
  display: flex;
  gap: 8px;
}

.nav-logocontain img{
  max-width: 120px;
}

.nav-logocontain h1{
  color: antiquewhite;
  /* font-style: italic; */
  font-size: 20px;
  font-weight: 550;
}

.nav-right{
  display: flex;
  gap: 20px;
  margin-right: 20px;
  align-items: center;
}
.nav-right a{
  font-size: 15px;
  color: antiquewhite;
  font-weight: 400;
}

.nav-right p{
  font-size: 15px;
  color: antiquewhite;
  font-weight: 400;
}

.nav-right a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Footer Styling
 */
 footer{
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darkest-grey);
  font-size: 18px;
  font-weight: 500;
  color: antiquewhite;
 }

 /* Yet to Arrive sections */
 .yetToArrive-container{
  display: flex;
  justify-content: center;
  min-height: 70vh;
  padding: 20px;
 }
 .yetToArrive-subcontainer{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

/* signup styling */
.signup-container{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-box{
  max-width: 400px;
  padding: 30px;
  border: 3px solid rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
}

/* login styling */
.login-container{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box{
  max-width: 400px;
  padding: 30px;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--lightest-grey);
}

/* Home Page styling */
.home-container{
  min-height: 100vh;
  display: flex;
  gap: 20px;
  width: 90%;
  flex-direction: column;
  padding-left: 70px;
}
.courouselImg{
  max-width: 900px;   /* Set the maximum width */
  max-height: 500px;  /* Set the maximum height */
  width: auto;        /* Maintain aspect ratio */
  height: auto;       /* Maintain aspect ratio */
  display: block;
}

/* Flexbox container for the boxes */
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.home-box {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px; /* Set a minimum height */
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0px;
  text-align: center;
}

.home-box:hover {
  transform: translateY(-5px);
}

.home-box h2 {
  font-size: 1.5rem;
  color: #1a73e8;
  margin-bottom: -10px;
}

.home-box p {
  font-size: 1rem;
  color: #666;
}

.home-box-link {
  text-decoration: none;
  color: inherit;
}

/* Logged in check */
.logincheck-container{
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 30px;
  color: #0657c2;
}

.loginCheck-box{
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  height: 130px;
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginCheck-box:hover {
  transform: translateY(-5px);
}

/* Mark Attendance styling */
/* 
.markAttendanceContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 45px;
}

.singleAttendanceContainer{
  background-color: #b3d5f7;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 0 25px 25px 35px;
  border-radius: 20px;
  
}
.singleAttendanceContainer h2{
  font-size: 30px;
}

.custom-datetimepicker{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.markAttendanceContainer {
  padding: 20px;/* Using your specified font-family */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 35px;
  height: 90vh;
  color: #00796b;
}

.singleAttendanceContainer {
  background-color: #fff;
  height: fit-content;
  padding: 20px;
  width: fit-content;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow:  0 4px 8px  rgba(0, 0, 0, 0.5); /* Subtle shadow */
}
.singleAttendanceContainer h2{
  text-align: center;
  
}

.singleAttendanceBox {
  gap: 20px;
}

.custom-datetimepicker {
   display: flex;
   justify-content: space-between;
}

.custom-datepicker, .custom-timepicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.custom-datepicker{
  padding-top: 13px;
}

.custom-timepicker {
  display: flex;
  gap: 15px; /* Space between Check-In and Check-Out TimePickers */
}

.timepicker .MuiFormControl-root {
  width: 150px; /* Customize the width of the time picker */
}

.multipleAttendanceContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  height: 400px;
  box-shadow:  0 4px 8px  rgba(0, 0, 0, 0.5);
}

.multipleAttendanceContainer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00796b;
  text-align: center;
}

.secondAttendanceBox{
  display: flex;
  flex-direction: column;/
}
/*styling for staff management page */
.staff-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh; 
}
.manage-container{
  padding-top: 30px;
  display: flex;
  gap: 40px;
  
}

.buttons-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  gap: 30px ;
  
 
}
/*Decoration for tables */
.emptable-container{
  width: 70vw;
  border: 1px solid black; 
  max-height: 360px;
  overflow-y: auto;
}

/* Styling for the table */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black; /* Outer border for the table */
  table-layout: auto;
}

.table th, .table td {
  border: 1px solid black; /* Black borders for cells */
  padding: 8px;
  text-align: left;
}

/* Sticky header */
.table thead {
  background-color: var(--darkest-grey);
  color: #ffffff;
  position: sticky;
  border: 1px solid black;
  top: 0;
  z-index: 1;
}

/* Responsive Scroll for small screens */
@media (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }
}
/* View Attendance css */
.viewAttendance-container{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* gap: 50px; */
  align-items: center;

}
.viewAttendance-Subcontainer{
  display: flex;
  gap: 20px;
}
.viewAttendanceForm-box{
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.viewAttendanceForm-box h2{
  text-align: center;
}


.attendanceTable{
  width: 800px;
  background-color: #ffffff;
  border-radius: 10px ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attendanceTable h2{
  text-align: center;
}

/* Expenses styling */
.expenseform-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.expenseform-container h2{
  text-decoration: underline;
}
.expenseform-subContainer{
  width: 700px;
  display: flex;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expenseform-subContainer2{
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
.expense-textFields{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.viewExpense-container{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* gap: 50px; */
  align-items: center;
}
.viewExpense-subcontainer{
  display: flex;
  gap: 20px;
}
.viewExpenseForm-box{
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.viewExpenseForm-box h2{
  text-align: center;
}

/* Dispatch Entry Styling */

.dispatch-container{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  /* justify-content: center; */
  align-items: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.dispatch-subcontainer{
  background-color: #fff;
  border-radius: 10px;
  width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:center;
}
.dispatchForm-Row{
  display: flex;
  gap: 15px;
}

/* Profile page styling */
.profile-container{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-Box{
  margin-top: 30px;
  background-color: #fff;
  width: 700px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.profile-Buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

/*Css for add inventory page*/
.inventory-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inventory-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh; 

  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  transition: transform 0.2s;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inventory-fields{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

